@import "./../../styles/variables";
.users {
  outline: none;
  color: @6gray;

  &__research {
    border-radius: 5px;
    height: 48px;
    position: relative;
    background-color: @3gray;


  }
  &__header {
    display: flex;
    flex-wrap: nowrap;

    width: 90%;

    &-column {
      flex: 0 1 50%;
      padding: 12px 8px;
      text-align: left;
      &:first-child,
      &:last-child {
        flex-basis: 40px;

      }
    }
  }
  &__table {
    width: 90%;
    border-radius: 5px;
    background: @2gray;
    line-height: 1.5;
    font-size: 16px;
    margin-top: 10px;
    border: 3px solid @blue;

    @media (max-width: 575px) {
      width: 100%;
      margin: auto;
      font-size: 14px;
    }
    &-row {
      display: flex;
      border-bottom: 1px solid @6gray;
      flex-wrap: nowrap;
    }

    &-column {
      flex: 0 1 50%;
      padding: 18px 8px 8px;
      &:first-child,
      &:last-child {
        flex-basis: 40px;
      }
    }

  }
}

