@import "./../../styles/variables";
.users {

  &__table {
    width: 95%;
    margin: auto;
    background: @white;

    @media (max-width: 575px) {
      width: 100%;
      margin: auto;
      font-size: 14px;
    }
    &-main {
      width: 60%;
      margin: auto;
    }
    &-strip {
      padding: 20px 0;
      position: relative;
    }
    &-button {
      position: absolute;
    }

    &-header {
      display: flex;
      flex-wrap: nowrap;
      margin: 0;
      padding: 0;
      &-column {
        flex: 0 1 calc((100vw - 40px) / 4);
        padding: 8px;
        text-align: left;
        &:first-child,
        &:last-child {
          flex: 40px;
        }
      }
    }

    &-body {
      &-row {
        display: flex;
        border: 1px solid @black;
        border-bottom: none;
        flex-wrap: nowrap;

        &:last-child {
          border: 1px solid @black;
        }

      }
      &-column {
        flex: 0 1 calc((100vw - 40px) / 4);
        padding: 8px;
        display: flex;
        &:first-child,
        &:last-child {
          flex: 40px;
        }
      }

    }
  }
}

