<div class="users">
  <div class="users__research">
    <div class="users__header">
      <div class="users__header-column"></div>
      <div class="users__header-column">{{ 'USERS.USER' | translate }}</div>
      <div class="users__header-column">{{ 'USERS.POSITION' | translate }}</div>
      <div class="users__header-column"></div>
    </div>
    <button class="btn-event users__research-btn" (click)="addUser()">{{ 'USERS.ADDUSER' | translate }}</button>
  </div>
  <div class="users__table">
    <div class="users__table-row" *ngFor="let user of users$ | async;">
      <div class="users__table-column">
        <svg class="icon icon-pencil" (click)="editUser(user._id)">
          <use xlink:href="./assets/images/profile.svg#icon-profile"></use>
        </svg>
      </div>
      <div class="users__table-column">
        {{user.surname}}
      </div>
      <div class="users__table-column">
        {{user.position}}
      </div>
      <div class="users__table-column">
        <button class="table-button-delete" (click)="delete(user._id)"></button>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>


