.events {

  &__table {
    width: 70%;
    margin: auto;
    background: white;
    &-button {
      color: black;
      padding: 10px;
      border: solid white;
      background: white;
      display: inline-block;
      background: rgba(255, 255, 255, 0.2);
      text-align: center;
      text-decoration: none;
      letter-spacing: 1px;
      transition: all 0.3s ease-out;
    }
    &-button:hover {
      color: slategray;
    }
    &-header {
      display: flex;
      flex-wrap: nowrap;

      &-column {
        flex: 0 1 calc((100vw - 40px) / 7);
        padding: 6px;
        &:first-child {
          flex: 40px;
        }

      }
    }

    &-body {
      &-row {
        display: flex;
        border: 1px solid black;
        border-bottom: none;
        flex-wrap: nowrap;

        &:last-child {
          border: 1px solid black;
        }

      }
      &-column {
        flex: 0 1 calc((100vw - 40px) / 7);
        padding: 8px;
        display: flex;
        &:first-child {
          flex: 40px;
        }
      }

    }
  }
}
.hovered {
  transform: scale(1.01);
 /* box-shadow: 0 0 4px rgba(0, 0, 0, .4);*/
  /*transition: .2s all;*/
  z-index: 10;
  background-color: gainsboro;
}

