<div class="events">
  <div class="events__research">
    <label class="events__research-label">
      <svg class="icon-search">
        <use xlink:href="./assets/images/search.svg#icon-search"></use>
      </svg>
      <input class="events__research-filter" type="text" [formControl]="filter" placeholder="Enter name">
    </label>
    <label>
      <select class="events__research-filter" [(ngModel)]="checkEvent">
        <option [value]="''" >All area</option>
        <option>IT</option>
        <option>QA</option>
      </select>
    </label>
    <button class="table-button events__research-button" (click)="addIncident()">{{ 'INCIDENTS.ADDEVENT' | translate }}</button>
  </div>
  <div class="events__content">
    <div class="events__content-item" *ngFor="let incident of filteredStates$| areaFilter:checkEvent | async ;"
         (click)="editIncident(incident._id)" appHover>
      <span class="events__content-title">{{incident.name}}</span>
      <span class="events__content-name">{{incident.assignee}}</span>
      <span class="events__content-name">{{incident.area}}</span>
      <span class="events__content-name">{{incident.startDate | date: 'dd-MM-yyyy'}} {{incident.dueDate | date: 'dd-MM-yyyy'}}</span>
      <span class="events__content-name">{{incident.status}}</span>
      <span class="events__content-status">

        <svg class="inline-svg-icon inline-svg-icon-closed" *ngIf="incident.status === 'Closed' || incident.status === 'Marriage'">
          <use xlink:href="./assets/images/sprite.svg#status"></use>
        </svg>

        <svg class="inline-svg-icon inline-svg-icon-info" *ngIf="incident.status === 'Additional information' || incident.status === 'Additional information received'">
          <use xlink:href="./assets/images/sprite.svg#status"></use>
        </svg>

        <svg class="inline-svg-icon inline-svg-icon-check" *ngIf="incident.status === 'Checked' || incident.status === 'Resolved'|| incident.status === 'In operation'">
          <use xlink:href="./assets/images/sprite.svg#status"></use>
        </svg>

        <svg class="inline-svg-icon inline-svg-icon-open" *ngIf="incident.status === 'Open' || incident.status === 'Re-start'">
          <use xlink:href="./assets/images/sprite.svg#status"></use>
        </svg>

      </span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>


