@import "./../../styles/variables";
.events {
  width: 100%;
  margin: auto;
  background: @white;

  outline: none;

  &__research {
    padding: 20px 0;
    position: relative;

    &-filter {
      padding: 5px;
      border-radius: 3px;
      border-color: rgb(223, 225, 230);
      border-style: solid;
      font-size: 14px;
      margin-right: 20px;
      outline: none;
    }

    &-button {
      position: absolute;
      right: 0;
      top: 0;
      align-items: center;
      outline: none;
    }
    &-label{
      margin: 10px;
    }
  }

  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @media (max-width: 759px) {
      justify-content: space-around;
    }
    &-item {
      width: 220px;
      height: 200px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      border: 1px solid lightgrey;
      margin: 10px;
    }

    &-name {
      padding: 5px 10px 0;
    }

    &-title {
      font-weight: 600;
      font-size: 20px;
      padding: 0 5px;
    }
  }
}


.hidden {
  @media (max-width: 575px) {
    display: none;
  }
}
.hovered {
  transform: scale(1.1);
  z-index: 10;
  background-color: @gainsboro;
}

.inline-svg-icon {
  stroke: #f5f5dc;
  stroke-width: 3;
  height: 22px;
  width: 22px;
  &-closed {
    fill: #ff2400;
  }
  &-info {
    fill: #ffff00;
  }
  &-open {
    fill: #808080;
  }
  &-check {
    fill: #32cd32;
  }
}

label > .icon-search {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: silver;
}

label > input {
  padding-left: calc(1em + 10px + 8px); /* icon width + icon padding-left + desired separation*/
  /*height: 1.5em;*/
}
.icon-search {
  width: 18px;
  height: 18px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

