@import "./../../styles/variables";
.events {

  &__table {
    width: 70%;
    margin: auto;
    background: @white;
    @media (max-width: 575px) {
      width: 100%;
      margin: auto;
      font-size: 14px;
    }

    &-button {
      color: @black;
      padding: 10px;
      border: solid @white;
      background: @white;
      display: inline-block;
      background: rgba(255, 255, 255, 0.2);
      text-align: center;
      text-decoration: none;
      letter-spacing: 1px;
      transition: all 0.3s ease-out;
    }
    &-button:hover {
      color: @slategray;
    }
    &-header {
      display: flex;
      flex-wrap: nowrap;

      margin: 0;
      padding: 0;
      &-column {

        flex: 0 1 calc((100vw - 40px) / 7);
        padding: 8px;
        text-align: left;
        &:first-child {
          flex: 40px;
        }

        @media (max-width: 575px) {
          flex: 0 1 calc((100vw - 40px) / 2);
          padding: 6px;
          display: flex;
          word-wrap: break-word;
          &:first-child {
            flex: 15px;
          }
        }
      }
    }

    &-body {
      &-row {
        display: flex;
        border: 1px solid @black;
        border-bottom: none;
        flex-wrap: nowrap;

        &:last-child {
          border: 1px solid @black;
        }

      }
      &-column {
        flex: 0 1 calc((100vw - 40px) / 7);
        padding: 8px;
        display: flex;
        &:first-child {
          flex: 40px;
        }
        @media (max-width: 575px) {
          flex: 0 1 calc((100vw - 40px) / 2);
          padding: 4px;
          display: flex;
          word-wrap: break-word;
          &:first-child {
            flex: 15px;
          }
        }
      }

    }
  }
}
.hidden {
  @media (max-width: 575px) {
    display: none;
  }
}
.hovered {
  transform: scale(1.01);
  z-index: 10;
  background-color: @gainsboro;
}
ul,
li {
  list-style: none;
}

