<div class="events__table">
  <button class="events__table-button" (click)="addIncident()">Add</button>
  <div class="events__table-header">
    <div class="events__table-header-column"></div>
    <div class="events__table-header-column">Name</div>
    <div class="events__table-header-column">Assignee</div>
    <div class="events__table-header-column">Area</div>
    <div class="events__table-header-column">Start date</div>
    <div class="events__table-header-column">Due date</div>
    <div class="events__table-header-column">Status</div>
  </div>
  <div class="events__table-body">
    <div *ngFor="let incident of incidents;" (click)="editIncident(incident._id)"
         class="events__table-body-row" appHover>
      <div class="events__table-body-column">
        <div class="events__table-readonly" *ngIf="incident.status === 'Closed' || incident.status === 'Marriage' ">
        <svg width="22" height="22">
          <circle r="10" cx="11" cy="12"
                  fill="#ff2400"  />
        </svg>
      </div>
        <div class="events__table-readonly" *ngIf="incident.status === 'Additional information' || incident.status === 'Additional information received'">
          <svg width="22" height="22">
            <circle r="10" cx="11" cy="12"
                    fill="#ffff00" />
          </svg>
        </div>
        <div class="events__table-readonly" *ngIf="incident.status === 'Checked' || incident.status === 'Resolved'|| incident.status === 'In operation'">
          <svg width="22" height="22">
            <circle r="10" cx="11" cy="12"
                    fill="#32cd32"/>
          </svg>
        </div>
        <div class="events__table-readonly" *ngIf="incident.status === 'Open' || incident.status === 'Re-start'">
          <svg width="22" height="22">
            <circle r="10" cx="11" cy="12"
                    fill="#808080"  />
          </svg>
        </div>
      </div>
      <div class="events__table-body-column">
        <div class="events__table-readonly">{{incident.name}}</div>
      </div>
      <div class="events__table-body-column">
        <div class="events__table-readonly">{{incident.assignee}}</div>
      </div>
      <div class="events__table-body-column">
        <div class="events__table-readonly">{{incident.area}}</div>
      </div>
      <div class="events__table-body-column">
        <div class="events__table-readonly">{{incident.startDate | date: 'dd-MM-yyyy'}}</div>
      </div>
      <div class="events__table-body-column">
        <div class="events__table-readonly">{{incident.dueDate | date: 'dd-MM-yyyy'}}</div>
      </div>
      <div class="events__table-body-column">
        <div class="events__table-readonly">{{incident.status}}  </div></div>
    </div>
  </div>
</div>
<router-outlet (deactivate)="actions($event)"></router-outlet>


