@import "./../../../styles/variables";
.events__form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1050;
  opacity: 0;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;

  &-content{
    position: relative;
    display: flex;
    width: auto;
    margin: 10px;
    flex-direction: column;
    background-color: @3gray;
    color: @6gray;
    background-clip: padding-box;

    border-radius: .3rem;
    outline: 0;

    @media (min-width: 576px) {
      max-width: 500px;
      margin: 80px auto;
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
  }

  &-body{
    position: relative;
    flex: 1 1 auto;
    padding: 30px;
    overflow: auto;
    border: 10px solid @4gray;
  }

}
.visible{
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}




.form-control {
  &-label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  &-date {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    outline: none;
    background-color: @2gray;
    color: @6gray;
  }
  &-action{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: @2gray;
    color: @6gray;
    outline: none;
    &-two {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 5px;
      background-color: @2gray;
      color: @6gray;
      border-bottom: 1px solid @lightgray;
    }
  }

}

.edit-incident {
  display: flex;
  flex-direction: column;
}

.events__header {
  position: absolute;
  width: 100%;
  height: 60px;
  top: -40px;
  z-index: 1;

  background-color: @41gray;

  &-title {
    padding: 10px 20px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;

    color: @white;
  }
}

