<div class="login visible">
  <div class="login__content">
    <form class="login-form" (submit)="userLoginClick()">
      <h2>{{ 'MAIN.LOGIN' | translate }}</h2>
      <label class="login-form-row">{{ 'USERSFORM.LOGIN' | translate }}:
        <input class="login-form-row-action"  type="text" [(ngModel)]="login" name="login">
      </label>
      <label class="login-form-row">{{ 'USERSFORM.PASSWORD' | translate }}:
        <input class="login-form-row-action"  type="password" [(ngModel)]="password" name="password">
      </label>
      <button class="transparent-button" routerLink="/main/events">{{ 'USERSFORM.BACK' | translate }}</button>
      <button class="transparent-button" type="submit">{{ 'MAIN.LOGIN' | translate }}</button>
    </form>
  </div>
</div>
