<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Project</title>
</head>
<body>
<header>
  <div class="header">
    <div class="header__name">PROJECTPROJECTPROJECTPROJECTPROJECTPROJECTPROJECTPROJECTPROJECTPROJECTPROJECT</div>
  </div>
</header>
<main>
  <div class="tab">
    <div class="tab__event">
      <button class="tab__button" (click)="showevents()">Events</button>
    </div>
    <div class="tab__process">
      <button class="tab__button">Process</button>
    </div>
    <div class="tab__users">
      <button class="tab__button" (click)="showusers()">Users</button>
    </div>
  </div>
</main>

<!--<app-events></app-events>-->
</body>
</html>
<router-outlet></router-outlet>
<!--<router-outlet (deactivate)="actions($event)"></router-outlet>-->

<!--<div>
  <div class="sphere red"></div>
  <div class="sphere green"></div>
  <div class="sphere orange"></div>
  <div class="sphere yellow"></div>
  <div class="sphere"></div>
</div>-->
