<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Project</title>
</head>
<header>
  <div class="header">
    <div class="header__name">{{ 'MAIN.PROJECT' | translate }}</div>
    <a *ngIf="!authService.logIn" class="table-button header__entry" href="/main/reg">{{ 'MAIN.SIGN' | translate }}</a>
    <a *ngIf="!authService.logIn" class="table-button header__entry" href="/main/auth">{{ 'MAIN.LOGIN' | translate }}</a>
    <button *ngIf="authService.logIn" class="table-button header__entry" (click)="logoutUser()">{{ 'MAIN.EXIT' | translate }}</button>
      <label class="header__lang">{{ 'LANGUAGES.TITLE' | translate }}
      <select (change)="changeLocale()" [(ngModel)]="selectedLanguage">
        <option *ngFor="let language of languages" [value]="language.id">{{ language.title }}</option>
      </select></label>
  </div>
</header>
<main>
  <div class="tab">
    <button class="tab__button" (click)="showEvents()">{{ 'MAIN.EVENTS' | translate }}</button>
    <button class="tab__button" (click)="showProcess()">{{ 'MAIN.PROCESS' | translate }}</button>
    <button class="tab__button" (click)="showUsers()">{{ 'MAIN.USERS' | translate }}</button>
  </div>
  <flash-messages></flash-messages>
</main>


</html>
<router-outlet></router-outlet>

