<header class="header">

  <div class="header__name">{{ 'MAIN.PROJECT' | translate }}</div>
  <div class="nav">
    <a class="nav__link" routerLink="/main/events" routerLinkActive="active">{{ 'MAIN.EVENTS' | translate }}</a>
    <a class="nav__link" routerLink="/main/users" routerLinkActive="active">{{ 'MAIN.USERS' | translate }}</a>
  </div>

  <div class="header__profile">

    <svg class="icon icon-earth header__profile-item" (click)="changeLocale()">
      <use xlink:href="./assets/images/earth.svg#icon-earth"></use>
    </svg>
    <svg class="icon header__profile-item">
      <use xlink:href="./assets/images/user.svg#icon-user"></use>
    </svg>
    <div class="header__profile-login">
      <span *ngIf="authService.isLoggedIn()" class="header__profile-item">{{user.surname}}</span>
      <a *ngIf="!authService.isLoggedIn()" class="header__profile-btn" routerLink="/main/auth">{{ 'MAIN.LOGIN' |
        translate }}</a>
      <button *ngIf="authService.isLoggedIn()" class="header__profile-btn" (click)="logoutUser()">{{
        'MAIN.EXIT' |
          translate }}</button>
    </div>
  </div>

</header>

<main>
  <flash-messages></flash-messages>
</main>

<router-outlet></router-outlet>

