@import "./../../styles/variables";
.header {
  display: flex;
  position: relative;
  height: 40px;
  margin-bottom: 5px;

  background-color: @2gray;

  outline: none;
  align-items: center;

  &__name {
    padding: 5px 10px;
    font-size: 20px;

    color: @7gray;
  }
  &__profile {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;

    &-item {
      padding: 5px;

      color: @7gray;
      fill: @7gray;
    }
    &-btn {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      border: 0;
      padding: 10px 30px;
      margin-left: 5px;
      height: auto;

      font-family: inherit;
      font-size: 15px;
      font-weight: 500;

      color: @7gray;
      background-color: @3gray;

      transition: background .1s linear;

      &:hover {
        background-color: @blue;
        color: @white;
      }
    }
  }

}

.nav {
  display: flex;
  padding: 0 20px;

  @media (max-width: 575px) {
    width: 100%;
    margin: auto;
  }

  &__link {
    padding: 5px 10px;
    height: auto;

    font-family: inherit;
    font-size: 18px;
    font-weight: 400;

    color: @7gray;
    text-align: center;
    text-decoration: none;
    outline: none;

    transition: background .1s linear;

    &:hover {
      background-color: @blue;
      color: @white;
    }

    &.active {
      border-bottom: 2px solid @blue;
    }
  }




}

