@import "./../../styles/variables";
.header {
  background: @white;
  height: 80px;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  &__name {
    width: 88px;
    margin: 20px 0 20px 60px;
    background: @black;
    color: @white;
    align-items: center;
    display: inline-block;

    padding: 10px 0;
    font-size: 20px;
    @media (max-width: 575px) {
    margin: 20px 0 0 0;
    }
  }
  &__lang {
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 30px 0 0 0;
  }
  &__entry {
    display: inline-block;
    /*left: 20%;*/
    margin: 20px 0 0 0;
    font: 16px "Times New Roman";
  }


}

.tab {
  width: 70%;
  background: @white;
  margin: auto;
  padding: 10px 0 10px 0;
  display: flex;
  border-top: 1px solid @lightgray;
  border-bottom: 1px solid @lightgray;
  @media (max-width: 575px) {
    width: 100%;
    margin: auto;
  }

  &__button {
    color: @black;
    border: solid @white;
    background: @white;
    margin: 0;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
  }
  &__button:hover {
       color: @slategray;
     }
  &__button:active {
    border: solid @slategray;
    background: @slategray;
    color: @white;
  }
}
