<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Project</title>
</head>
<body>
<div class="users__form visible">
  <div class="users__form-content">
    <div class="users__form-body" >
      <div *ngIf="!confirm; else confirmTemplate">
      <div *ngFor="let field of fields$">
        <app-field [form]="personalInfoForm" [field]="field"></app-field>
      </div>
      <button class="transparent-button" routerLink="/main/users">{{ 'USERSFORM.BACK' | translate }}</button>
      <button class="transparent-button" (click)="submitForm()">{{ 'USERS.ADDUSER' | translate }}</button>
      </div>
      <ng-template #confirmTemplate>
        <p>{{ 'USERSFORM.DOYOUWANT' | translate }}</p>
        <button class="transparent-button" (click)="delete()">{{ 'USERSFORM.DELETE' | translate }}</button><button class="transparent-button" routerLink="/main/users">{{ 'USERSFORM.CANCEL' | translate }}</button>
      </ng-template>
    </div>
  </div>

</div>

</body>
</html>

