<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Project</title>
</head>
<body>
<div class="users__form visible">
    <div class="users__form-content">
      <div class="users__form-body">
        <form  *ngIf="!confirm; else confirmTemplate"noValidate [formGroup]="formUser" class="edit-incident"
               (ngSubmit)="submitForm()">

          <div class="form-control">
            <label class="form-control-label">Login:</label>
            <input class="form-control-action" formControlName="login" type="string">
            <div class="validtext"
                 *ngIf="formUser.controls['login'].invalid && formUser.controls['login'].touched">
            </div>
          </div>

          <div class="form-control">
            <label class="form-control-label">Password:</label>
            <input class="form-control-action" formControlName="password" type="string">
            <div class="validtext"
                 *ngIf="formUser.controls['password'].invalid && formUser.controls['password'].touched">
            </div>
          </div>

          <div class="form-control">
            <label class="form-control-label">Position:</label>
            <input class="form-control-action" formControlName="position" type="string">
            <div class="validtext"
                 *ngIf="formUser.controls['position'].invalid && formUser.controls['position'].touched">
            </div>
          </div>

          <div class="form-control">
            <label class="form-control-label">User:</label>
            <input class="form-control-action" formControlName="surname" type="string">
            <div class="validtext"
                 *ngIf="formUser.controls['surname'].invalid && formUser.controls['surname'].touched">
              Name must not contain numbers.
            </div>
          </div>

          <div class="form-control">
            <label class="form-control-label">Birthday:</label>
            <input class="form-control-action" formControlName="birthday" type="date">
            <div class="validtext"
                 *ngIf="formUser.controls['birthday'].invalid && formUser.controls['birthday'].touched">
            </div>
          </div>
          <button class="transparent-button"
                  routerLink="/main/users">Back</button>
          <button class="transparent-button" type="submit">Add user</button>

        </form>
        <ng-template #confirmTemplate>
          <p>Do you want to delete user?</p>
          <button class="transparent-button" (click)="delete()">Delete</button><button class="transparent-button" routerLink="/main/users">Cancel</button>
        </ng-template>
      </div>
    </div>

</div>

</body>
</html>

