<div class="login visible">
  <div class="login__content">
    <form class="login-form" [formGroup]="loginForm" (submit)="userRegisterClick()" novalidate>
      <h1>SignIn</h1>
      <label class="login-form-row">{{ 'USERSFORM.LOGIN' | translate }}
        <input class="login-form-row-action" type="text" formControlName="login">
        <div class="validtext"
             *ngIf="loginForm.controls['login'].invalid && loginForm.controls['login'].touched">
          {{ 'INVALID.LOGIN' | translate }}
        </div>
      </label>
      <label class="login-form-row">{{ 'USERSFORM.SURNAME' | translate }}
        <input class="login-form-row-action" type="text" formControlName="surname">
        <div class="validtext"
             *ngIf="loginForm.controls['surname'].invalid && loginForm.controls['surname'].touched">
          {{ 'INVALID.SURNAME' | translate }}
        </div>
      </label>
      <label class="login-form-row">{{ 'USERS.POSITION' | translate }}
      <input class="login-form-row-action" type="text" formControlName="position">
      <div class="validtext"
           *ngIf="loginForm.controls['position'].invalid && loginForm.controls['position'].touched">
        {{ 'INVALID.POSITION' | translate }}
      </div>
    </label>
      <label class="login-form-row">{{ 'USERSFORM.PASSWORD' | translate }}
        <input class="login-form-row-action" type="password" formControlName="password">
        <div class="validtext"
             *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
          {{ 'INVALID.PASSWORD' | translate }}
        </div>
      </label>
      <label class="login-form-row">{{ 'USERS.BIRTHDAY' | translate }}
        <input class="login-form-row-date" type="date" formControlName="birthday">
        <div class="validtext"
             *ngIf="loginForm.controls['birthday'].invalid && loginForm.controls['birthday'].touched">
          {{ 'INVALID.BIRTHDAY' | translate }}
        </div>
      </label>
      <button class="transparent-button" type="submit">{{ 'MAIN.SIGN' | translate }}</button>
      <button class="transparent-button" routerLink="/main/events">{{ 'USERSFORM.BACK' | translate }}</button>
    </form>
  </div>
</div>

